.container-fluid {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/background.jpg');
}
.logotext {
    color: white;
    font-size: 7em;
}
.demotext {
    font-size: 2.5em;
}
.about {
    color: white;
}
.about .row {
    margin-left: 10px;
}
.progect {
    font-size: 1.9em;
}
.description {
    font-size: 1.5em;
}
.description p {
    margin-bottom: 20px;
}
.contacts {
    margin-top: 10px;
    font-size: 1.2em;
}
.rounded-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2.7em;
    width: 270px;
    height: 270px;
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 50%;
}
.text {
    margin-top: 20px;
    font-size: 1.3em;
    color: white;
    text-align: center;
}
.text p {
    font-size: 1.2em;
    margin: 0;
}
.row.block {
    justify-content: center;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 15px;
}